.card{
    box-sizing: border-box;
    background-color: white;
    border-radius:15pt;
    border: 3px black;
    width:50px;
    height:100px;
    display:inline-block;
    position:relative;
    margin-left:200px;
}

image{
    width:50px;
    height:100px;
}

#checkBox{
    position:absolute;
    margin-top:700px;
    margin-left:15px;
}

#checkBox:checked,#checkBox:checked+img{
    transform:translate(0px, 150px);
    transition-property:transform;
    transition-duration:1s;
    transition-timing-function:ease-in;
    z-index:20;
}

.hand{
    width:75%;
}